* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*=============================== VARIABLE ====================================*/
/*============================================================================*/
/*=============================== PLACEHOLDER ==============================*/
/*==========================================================================*/
.div-col .div-texte_bas, form .remember .div-remember, form .remember, #customBtn, .div-col .div-form .other, main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-form form, .div-col .div-form, main .div-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Lexend Deca";
  font-size: 1.2rem;
}

main {
  height: 100vh;
  width: 100vw;
}
main .div-col {
  width: 50%;
  height: 100%;
  padding: 50px;
  padding-bottom: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

/*============================= Colonne du formulaire =========================*/
/*============================================================================*/
.div-col .div-logo img {
  width: auto;
  height: auto;
}

.div-col .div-form {
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
  width: 100%;
}
.div-col .div-form h1 {
  font-size: 2rem;
  animation: opacity 0.5s ease-in forwards;
}
.div-col .div-form p {
  animation: opacity 0.5 ease-in forwards;
}
.div-col .div-form .other {
  width: 100%;
  margin: 40px 0px;
  animation: opacity 0.5 ease-in forwards;
}
.div-col .div-form .other hr {
  height: 2px;
  width: 45%;
}
.div-col .div-form .other p {
  margin: 0 20px;
}

/*------------------------ button log in with google -----------------*/
#gSignInWrapper {
  width: 100%;
  margin-top: 40px;
  animation: opacity 0.5 ease-in forwards;
}

#customBtn {
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 2px solid rgb(17, 17, 54);
  background-color: #fff;
  border-radius: 7px;
}

#customBtn:hover {
  cursor: pointer;
}

svg {
  margin: 0 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.div-form form {
  justify-content: center;
  width: 100%;
}
.div-form form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 7px;
}
.div-form form input[type=checkbox] {
  margin: 0;
  height: 20px;
  width: 20px;
  animation: opacity 0.5 ease-in forwards;
}
.div-form form input[type=submit] {
  background-color: rgb(17, 17, 54);
  color: #fff;
  border-color: rgb(17, 17, 54);
  font-size: 1.2rem;
  animation: opacity 0.5 ease-in forwards;
}

form .remember {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  animation: opacity 0.5 ease-in forwards;
}
form .remember .div-remember label {
  margin-left: 10px;
}
form .remember label, form .remember a {
  text-decoration: none;
  line-height: 20px;
}

.div-col .div-texte_bas {
  justify-content: center;
  width: 100%;
  animation: opacity 0.5 ease-in forwards;
}
.div-col .div-texte_bas p {
  color: rgb(199, 202, 212);
}
.div-col .div-texte_bas a {
  text-decoration: none;
  color: rgb(17, 17, 54);
}

/*================================ Colonne de la video ===============================*/
/*====================================================================================*/
div.div-video {
  background-color: rgb(251, 245, 246);
  align-items: center;
  justify-content: center;
  animation: appear 0.5 ease-in forwards;
}

/*=============================== Responsive =============================*/
/*=======================================================================*/
@media only screen and (max-width: 1276px) {
  body {
    font-size: 1.1rem;
  }
  .div-col .div-form {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1207px) {
  .div-col .div-form {
    padding: 0 30px;
  }
  .div-col .div-form h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1207px) {
  .div-col .div-form {
    padding: 0px;
  }
}
@media only screen and (max-width: 955px) {
  .div-video video {
    width: 90%;
  }
}
@media only screen and (max-width: 892px) {
  body {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 767px) {
  div.div-video {
    display: none;
  }
  body {
    font-size: 1.2rem;
  }
  main .div-col {
    width: 100%;
  }
  main .div-col .div-form {
    padding: 0 30px;
  }
  main .div-col .div-form h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 534px) {
  body {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 474px) {
  main .div-col {
    padding: 30px;
  }
  main .div-col .div-form {
    padding: 0;
  }
}
@media only screen and (max-width: 375px) {
  body {
    font-size: 0.9rem;
  }
  main .div-col {
    padding: 10px;
  }
  main .div-col .div-form h1 {
    font-size: 1.5rem;
  }
}
/*============================== Animation ===========================*/
/*====================================================================*/
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */